@font-face {
  font-family: "Sk-Modernist-Regular";
  src: url("/fonts/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: "Sk-Modernist-Bold";
  src: url("/fonts/Sk-Modernist-Bold.otf");
}

#root {
  margin: 0 auto;

  text-align: center;
  font-family: "Sk-Modernist-Regular", sans-serif; /* Apply the font to the root element */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
  padding: 0 10px;
  color: "#fff";
}

.navbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.tabs {
  display: flex;
  gap: 16px;
}

.wallet-button {
  padding: 10px 20px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .tabs {
    display: none;
  }

  .wallet-button {
    padding: 5px 10px;
    font-size: 0.875rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-content {
    flex: 1;
    justify-content: space-between;
  }
}
.price-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
  padding: 0 10px;
  overflow-x: auto;
}

.price-bar-content {
  display: flex;
  gap: 16px;
  height: 7vh;
  padding: 10px 0;
  align-items: center;
}

.price-bar-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 16px;
}

.price-bar-item h1 {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .price-bar-content {
    gap: 8px;
    height: auto;
    padding: 5px 0;
    flex-direction: row; /* Add this line */
    flex-wrap: nowrap; /* Add this line */
  }

  .price-bar-item {
    padding: 0 8px;
  }

  .price-bar-item h1 {
    font-size: 0.875rem;
  }

  .price-bar-item .price {
    font-size: 1rem;
  }
  .tradingcontainer {
    flex-direction: row;
  }
}
.market-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.tradingview-container {
  display: flex;
  height: 100%;
  width: 60%; /* Remaining space */
  margin: 0;
  padding: 0;
}

.orderbook-container {
  display: flex;
  height: 100%;
  width: 20%;
  margin: 0;
  padding: 0;
}

.tradepanel-container {
  display: flex;
  height: 100%;
  width: 20%;
  background: #000;
  border-left: solid #4b4b4b 1px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .market-section {
    flex-direction: column;
  }

  .tradingview-container,
  .tradepanel-container {
    width: 100%;
  }

  .orderbook-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .trade-toggle-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Add this line to set the width */
    padding: 15px 20px;
    font-size: 1rem;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 30px; /* Add 'px' to the border-radius value */
    cursor: pointer;
    z-index: 1000;
  }

  .tradepanel-container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: flex-end;
    z-index: 1001;
  }

  .tradepanel-container.visible {
    display: flex;
  }

  .tradepanel-content {
    width: 100%;
    height: 95%;
    background: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    overflow-y: auto; /* Add this line to make the modal scrollable */
  }
}

@media (min-width: 769px) {
  .trade-toggle-button {
    display: none;
  }
}
.market-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.tradingview-container {
  display: flex;
  height: 100%;
  width: 60%; /* Remaining space */
  margin: 0;
  padding: 0;
}

.orderbook-container {
  display: flex;
  height: 100%;
  width: 20%;
  margin: 0;
  padding: 0;
}

.tradepanel-container {
  display: flex;
  height: 100%;
  width: 20%;
  background: #000;
  border-left: solid #4b4b4b 1px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .market-section {
    flex-direction: column;
  }

  .tradingview-container,
  .tradepanel-container {
    width: 100%;
  }

  .orderbook-container {
    display: none;
  }
}
